*{
    margin:0;
    padding: 0;
}
#cat-container{
    border: 2px solid red;
    border-radius: 30px;
    margin: 60px auto;
    padding: 30px;
    width: 500px;
    height: 300px;
    box-shadow: 15px 15px 5px;

}
#cat-container img{
    width: 150px;
    height: 80px;
    margin-bottom: 6px;
}
.cat-heading{
    font-size: 44px;
    font-weight: bold;
    color: #00000096;
    margin-bottom: 10px;
}
#cat-container p{
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
    color: #00000095;
}
#dog-container{
    border: 4px solid brown;
    border-radius: 30px;
    margin: 0px auto 60px;
    padding: 30px;
    width: 500px;
    height: 300px;
    box-shadow: -15px -15px 5px;
}
#dog-container h2{
    font-size: 44px;
    font-weight: bold;
    color: aqua;
    margin-bottom: 10px;
}
#dog-container img{
    width: 150px;
    height: 80px;
    margin-bottom: 6px;
}
#dog-container p{
    font-size: 18px;
    font-weight: 600;
    text-align: justify;
    color: goldenrod;
}
#cow-container{
    border: 5px solid mediumpurple;
    border-radius: 30px;
    margin: 0px auto 60px;
    padding: 30px;
    width: 500px;
    height: 350px;
    box-shadow: -15px 15px 5px;
}
#cow-container h2{
    font-size: 44px;
    font-weight: bold;
    color: darkgreen;
    margin-bottom: 10px;
}
#cow-container img{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
#cow-container p{
    font-size: 18px;
    font-weight: 600;
    color: teal;
    text-align: justify;
}